* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.nav1 {
    background: #333;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.nav1 button {
    background-color: #eb5757;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 7px;
    border-radius: 25px;

}


.nav2 {
    background: #eb5757;
    /* font-size: 1.2rem; */
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.nav2 ul li {
    list-style: none;
    padding: 4px;
    border-radius: 10px;
}

.nav2 ul li:hover {
    background-color: #222222;
    cursor: pointer;

    transition: .3s all ease;
}

.nav2 ul {
    display: flex;
    gap: 30px;

}

.nav2 ul li i {
    font-size: 1.5rem;
}

.nav2 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart span {
    background-color: white;
    color: black;
    font-size: .7rem;
    border-radius: 40px;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-top: -10px;
    margin-right: -12px;
}

.cart {
    position: relative;
    background: #222222;
    padding-left: 5px;
    padding-right: 5px;

}

.cart span {
    position: absolute;
    right: 6px;
    top: 6px;
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 999;
}


/* Hero Section CSS */

.hero {
    background-image: url("https://media.istockphoto.com/id/1301006313/photo/the-hiker-standing-on-a-mountain-against-the-rainy-background.jpg?s=612x612&w=0&k=20&c=yCZzlHSOrEmi0raaLoAoqNax2pD4S0nNm6OnjJIiieA=");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    color: white;
    position: relative;

}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.hero h1 {
    font-size: 3.5rem;
    width: 400px;
    line-height: 1.1;
}


.heroContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
    /* z-index:999; */
}

.heroContent p {
    width: 300px;
}

.hero button {
    border: 1px solid white;
    border-width: 2px;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-size: 1.1rem;
    background: transparent;
    transition: .3s all ease;
    cursor: pointer;
    width: 150px;
}

.hero button:hover {
    background: white;
    color: black;
}

.main2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.leftM .largeText {
    font-size: 2rem;
    font-weight: bold;
}

.rightM {
    width: 500px;
    font-size: .9rem;
}

/* MQ Start  */



.boxContent {
    background: #333;
    color: white;
    width: 350px;
    height: 350px;
    padding: 10px;
    border-radius: 5px;
}

.third {
    display: flex;
    justify-content: space-around;
}

.number {
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    font-size: 40px;
}

.boxHeading {

    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    font-size: 45px;
    line-height: 1.2;
}

@media screen and (max-width: 375px) {
    .nav1 {
        font-size: 1rem;
    }

    .hero {
        background-image: url("https://media.istockphoto.com/id/1301006313/photo/the-hiker-standing-on-a-mountain-against-the-rainy-background.jpg?s=612x612&w=0&k=20&c=yCZzlHSOrEmi0raaLoAoqNax2pD4S0nNm6OnjJIiieA=");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        color: white;
        position: relative;
        padding-top: 200px;

    }

    .hero h1 {
        font-size: 3rem;
        width: 200px;
        line-height: 1.1;
    }

    .rightM {
        width: 100%;
        font-size: .9rem;
    }

    .main2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .leftM .largeText {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .boxContent {
        background: #333;
        color: white;
        width: 250px;
        height: 300px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    }

    .boxContent .headingP {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* flex-wrap: nowrap; */
    }

    .number {
        text-align: left;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .boxHeading {

        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1.2;
    }

    .thirdDes {
        display: flex;
        justify-content: space-around;

    }

    .description {
        color: black;
        width: 350px;
        height: 150px;
        text-align: center;
        padding: 10px;
    }


}


/* MQ End */


.thirdDes {
    display: flex;
    justify-content: space-around;

}

.description {
    color: black;
    width: 350px;
    height: 150px;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 375px) {
    .nav1 {
        font-size: 1rem;
    }

    .hero {
        background-image: url("https://media.istockphoto.com/id/1301006313/photo/the-hiker-standing-on-a-mountain-against-the-rainy-background.jpg?s=612x612&w=0&k=20&c=yCZzlHSOrEmi0raaLoAoqNax2pD4S0nNm6OnjJIiieA=");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        color: white;
        position: relative;
        padding-top: 200px;

    }

    .hero h1 {
        font-size: 3rem;
        width: 200px;
        line-height: 1.1;
    }

    .rightM {
        width: 100%;
        font-size: .9rem;
    }

    .main2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .leftM .largeText {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .boxContent {
        background: #333;
        color: white;
        width: 250px;
        height: 300px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    }

    .boxContent .headingP {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* flex-wrap: nowrap; */
    }

    .number {
        text-align: left;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .boxHeading {

        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1.2;
    }

    .thirdDes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

    }

    .description {
        color: black;
        width: 100%;
        height: 100%;
        text-align: center;
        /* padding: 10px; */
    }

    .fourth {
        background-image: url("https://storage.googleapis.com/pod_public/1300/152656.jpg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 200px;
        color: white;
        position: relative;
    
    }
    
    #overlay2 {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 1;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }
    
    .fourth h1 {
        font-size: 55px;
        font-weight: 500;
        width: 400px;
        line-height: 1.1;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .fourthContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-left: 650px;
    
    }
    
    .fourthContent p {
        width: 300px;
    }
    
    .fourth button {
        border: 1px solid black;
        border-width: 1px;
        color: black;
        padding: 5px;
        border-radius: 10px;
        font-size: 16px;
        background: transparent;
        transition: .3s all ease;
        cursor: pointer;
        width: 200px;
        font-weight: 700px;
        background-color: white;
    
    }
    
    .fourth button:hover {
        background: #eb5757;
        color: black;
    }

}


/* MQ End */


.fourth {
    background-image: url("https://storage.googleapis.com/pod_public/1300/152656.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    color: white;
    position: relative;

}

#overlay2 {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 1;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.fourth h1 {
    font-size: 55px;
    font-weight: 500;
    width: 400px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fourthContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 650px;

}

.fourthContent p {
    width: 300px;
}

.fourth button {
    border: 1px solid black;
    border-width: 1px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    background: transparent;
    transition: .3s all ease;
    cursor: pointer;
    width: 200px;
    font-weight: 700px;
    background-color: white;

}

.fourth button:hover {
    background: #eb5757;
    color: black;
}

.leftM2 .smallText {
    color: #333;
    font-size: 1rem;
    margin-left: 40px;
    font-weight: 400;
    margin-top: 20px;

}



.leftM2 .largeText {
    font-weight: bold;
    color: #333;
    font-size: 2.5rem;
    margin-left: 40px;

}

.fifth {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.box5 {
    color: black;
    width: 350px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.boxcontent5 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 400px;
    border-radius: 30px;
}

.boxcont5button {
    width: 80px;
    height: max-content;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #eb5757;
    color: white;
    padding: 6px;
    cursor: pointer;
    margin-left: 250px;
    margin-top: 10px;
}

.boxprice {
    display: flex;
    justify-content: space-around;
}

.price {
    color: black;
    width: 350px;
    height: 150px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.price button {
    width: 80px;
    height: max-content;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #eb5757;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: 0.5px solid white;
    margin-top: 10px;
}

.price button:hover {
    background-color: black;
}

.price a {
    text-decoration: line-through;
    color: #eb5757;
}

.finalfifth {
    display: flex;
    justify-content: center;
}

.product button {
    width: 200px;
    height: max-content;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin-top: 10px;

}

.product button:hover {
    background-color: #eb5757;
}

.sixthsection {
    display: flex;
    justify-content: center;

}

.sixthsection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.picture {
    position: absolute;
    width: 380px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-top: 40px;
    margin-right: 60px;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: -750px;


}

.text {
    height: 550px;
    width: 900px;
    background-color: #333;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
    line-height: 1.2rem;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 350px;
}

.text h1 {
    margin-top: 80px;
    text-align: left;

}

.footer {
    background-color: #333;
    padding: 40px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
    cursor: pointer;
}

.bi {
    font-size: 30px;
    margin-left: 20px;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.bi:hover {
    color: #ddd;
}

.text-right {
    margin-top: 10px;
    font-size: 24px;
}




@media screen and (max-width: 375px) {
    .nav1 {
        font-size: 1rem;
    }

    .hero {
        background-image: url("https://media.istockphoto.com/id/1301006313/photo/the-hiker-standing-on-a-mountain-against-the-rainy-background.jpg?s=612x612&w=0&k=20&c=yCZzlHSOrEmi0raaLoAoqNax2pD4S0nNm6OnjJIiieA=");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        color: white;
        position: relative;
        padding-top: 200px;

    }

    .hero h1 {
        font-size: 3rem;
        width: 200px;
        line-height: 1.1;
    }

    .rightM {
        width: 100%;
        font-size: .9rem;
    }

    .main2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .leftM .largeText {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .boxContent {
        background: #333;
        color: white;
        width: 250px;
        height: 300px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    }

    .boxContent .headingP {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* flex-wrap: nowrap; */
    }

    .number {
        text-align: left;
        margin-left: 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .boxHeading {

        font-weight: 700;
        text-align: center;
        margin-top: 10px;
        font-size: 2rem;
        line-height: 1.2;
    }

    .thirdDes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

    }

    .description {
        color: black;
        width: 100%;
        height: 100%;
        text-align: center;
        /* padding: 10px; */
    }

    .fourth {
        background-image: url("https://storage.googleapis.com/pod_public/1300/152656.jpg");
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        color: white;
        position: relative;
    
    }
    
    #overlay2 {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Black background with opacity */
        z-index: 1;
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }
    
    .fourth h1 {
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        line-height: 1.1;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .fourthContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-left: 0px;
    
    }
    
    .fourthContent p {
        width: 300px;
    }
    
    .fourth button {
        border: 1px solid black;
        border-width: 1px;
        color: black;
        padding: 5px;
        border-radius: 10px;
        font-size: 16px;
        background: transparent;
        transition: .3s all ease;
        cursor: pointer;
        width: 200px;
        font-weight: 700px;
        background-color: white;
    
    }
    
    .fourth button:hover {
        background: #eb5757;
        color: black;
    }

    .leftM2 .largeText {
        font-weight: bold;
        color: #333;
        font-size: 2.5rem;
        margin-left: 40px;
    
    }
    
    .fifth {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    
    }
    
    .box5 {
        color: black;
        width: 250px;
        height: 400px;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .boxcontent5 {
        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 400px;
        border-radius: 30px;
    }
    
    .boxcont5button {
        width: 80px;
        height: max-content;
        font-size: 14px;
        font-weight: 400;
        border-radius: 10px;
        background-color: #eb5757;
        color: white;
        padding: 6px;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .boxprice {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .price {
        color: black;
        width: 250px;
        height: 150px;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 18px;
        font-weight: 600;
        color: #333;
        cursor: pointer;
    }
    
    .price button {
        width: 80px;
        height: max-content;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        background-color: #eb5757;
        color: white;
        padding: 5px;
        cursor: pointer;
        border: 0.5px solid white;
        margin-top: 10px;
    }
    
    .price button:hover {
        background-color: black;
    }
    
    .price a {
        text-decoration: line-through;
        color: #eb5757;
    }
    
    .finalfifth {
        display: flex;
        justify-content: center;
    }
    
    .product button {
        width: 200px;
        height: max-content;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 10px;
        cursor: pointer;
        border: 1px solid white;
        margin-top: 10px;
    
    }
    
    .product button:hover {
        background-color: #eb5757;
    }
    

}


/* MQ End */